* {
	margin-left: 0;
	border: 1px lightgrey;
}

html {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.roomID {
	border: 2px solid grey;
	border-radius: 5px;	
	display: block;	
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.roomID_button {
	background-color: lightgrey;
	box-shadow: 2px 2px dimgrey;
	transition-duration: 0.6s;
	width: 60%;
	max-width: 100px;
}

.roomID_button:hover {
	background-color: whitesmoke;
}

.roomID_button:disabled {
	background-color: tomato;
}

.newgamebutton {
	background-color: lemonchiffon;
	box-shadow: 2px 2px dimgrey;
	font-size: 1.4em;
	transition-duration: 0.6s;
	width: 60%;
	max-width: 100px;
	border: 2px solid grey;
	border-radius: 5px;	
	display: block;	
	margin-left: auto;
	margin-right: auto;
}

.newgamebutton:hover {
	background-color: lightskyblue;
}

.scorebar {
	background-color: #F1F1F1;
	margin: 10px;
	text-align: center;
	font-family: Verdana;
}

.scorecolumn {
	margin: 5px;
}

.statusbar {
	background-color: #F1F1F1;
	text-align: left;
	font-family: Arial;
	padding: 3px;
	margin: 10px;
}

.interective {
	background-color: #F1F1F1;
	margin: 0px;
}

.turncolumn {
	margin: 5px;
}

.outcomecolumn {
	margin: 5px;
}

.turncolumn:hover {
	cursor: pointer;
}

.turncolumn:hover img {
	opacity: 0.6;
}


@media screen and (max-width: 450px) {
  .roomscreen {
	width: 100%;
  }
}

@media screen and (min-width: 450px) {
	.roomscreen {
	  width: 450px;
	}
	.interective {
		margin: 5px;
	}
  }
  